<div class="container" id="top_page">
  <div class="row">
    <div class="col-sm-6" id="top_text">
        <h2>Twitter風アプリ</h2>
        <p>このサイトはruby on railsの練習に作成されました。</p>
        <p>アプリトップページです</p>
    </div>
    <div class="col-sm-6"><img src="<%= asset_path "darts.png" %>" width="80%"></div>
  </div>
</div>